@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="~/Scripts/lycJqueryLib/script/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lycJqueryLib/script/jquery.lyc.plugin.other.js"></script>
    <script type="text/javascript">
        $(function () {
            
            $.LycOtherFun.BG_Div.show("正在处理中...！");
            window.setTimeout(function () {
                $.LycOtherFun.BG_Div.hide();
                window.setTimeout(function () {
                    $.LycOtherFun.BG_Div.show("");
                    
                }, 3000);
            }, 3000);
            var s = "asdfasfd";
            
        });
    </script>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
